<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Scripts.Render("~/js")
</head>

<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
             @RenderBody()
                
            </div>
            <div class="span10">
                <a href="#" class="btn btn-primary btn-large">Click Here</a>
             
            </div>
        </div>
    </div>
</body>
</html>
